@import './variable.css';
@import './fonts.css';
@import './top-bar.css';
@import './navbar.css';
@import './footer.css';
@import './course-box.css';
@import './default.css';
@import './helper.css';
@import './road-to-page.css';
@import './course-of-connecting.css';

.main-courses{
    padding: 5rem;
    position: relative;
}
.courses-condition{
    overflow: hidden;
    margin-bottom: 1rem;
}
.courses-of-connect-title{
    position: relative;
}
.courses-of-connect-title::before{
    content: "";
    position: absolute;
    width: 17px;
    height: 32px;
    background-color: var(--theme-color);
    right: 1.1rem;
    top: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.7rem;
    transform: skewX(-10deg);
}
.courses-condition__list{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 2rem;
    
}
.courses-condition___item-fast{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 0.4rem;
    transition: all 400ms ease;
}
.courses-condition__item-link-fast{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    transition: all 400ms ease;
    font-size: 0.9rem;
    padding-bottom: 0.4rem;
    color: #464749;
}
.courses-condition__item-fast-icon{
    color: #909aa7;
}

.courses-condition___item-fast:hover{
    padding-right: 0.4rem;
}

.last__blog-list{
    
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}
.last__blog-item{
    padding: 1rem ;
    border-bottom: 1px solid #eeeeee;

}
.last__blog-link{
    color: #464749;
}
.main-courses__cotainer-left{
    position: sticky;
    top: 1rem;
}
.main-courses__cotainer-right{
    box-shadow: 0 0 13px 1px rgb(70 72 77 / 8%);
    padding: 1.5rem;
    
}

.main-courses__cotainer-right-title{
    font-size: 1.8rem;
    border-bottom: 2px solid #f3f3f3;
    padding-bottom: 1.7rem;
}
.main-courses__cotainer-right-list{
    margin: 2rem 0 3rem 0;
    display: flex;
    align-items: center;
}
.main-courses__cotainer-right-item{
    margin-left: 1rem;
}
.main-courses__cotainer-right-icon{
    color: #c7c7c7;
    font-size: 1rem;
}
.main-courses__cotainer-right-link, .main-courses__cotainer-right-text{
    font-size: 0.9rem;
    color: #8f8f8f;
    margin-right: 0.3rem;
}
.main-courses__cotainer-right-image-cover{
    width: 30rem;
    display: flex;
    justify-content: center;
}
.main-courses__cotainer-right-rate{
    display: flex;
    align-items: center;

}
.main-courses-star-icon-image{
    margin-right: -0.2rem;
}
.main-courses__cotainer-right-rate-text{
    font-size: 1.2rem;
    color: #7d7d7f;
    margin-right: 1.3rem;
}

.main-courses__cotainer-right-paragraph{
    margin-top: 2rem;
}
.section-blog-read__container{
    padding: 1.5rem ;
    background-color: #f2f2f2;
    border-radius: 1.2rem;
    margin-top: 1.8rem;
}

.section-blog-read__container-text{
    font-weight: bold;
    /*  */
}
.section-blog-read__container-list{
    margin-top: 1.2rem;
}
.section-blog-read__container-item{
    font-size: 1rem;
    margin-bottom: 1rem;
}
.section-blog-read__container-link{
    
    color: #1e83f0;
}
.section-blog-read__container-item:hover{
    text-decoration: underline;
    color: #1e83f0;
}
.blog-image-js{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.suggestion-blog{
    margin-top: 3rem;
}
.best-site-js-blog-title{
    font-size: 1.5rem;
    color: #008c25;
    font-weight: bold;
    margin-top: 2rem;
}
.best-site-js-blog-text{
    margin-top: 1rem;
}
.best-site-js-blog-image{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.share-social-media{
    display: flex;
    align-self: center;
}
.share-social-media-text{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    color: #7d7e7f;
}
.share-social-media-list{
    display: flex;
    align-items: center;
}
.share-social-media-link{
    color: #7b868a;
    margin-right: 0.7rem;
}
.next-last-blog__container{
    margin-top: 3rem;
    background-color: #f0f2f7;
    padding: 3rem 1.4rem;
    border-radius: 0.5rem;
}

.next-last-blog__container-right{
    display: flex;
    align-items: center;
    position: relative;
}
.next-last-blog__container-right-icon-link , .next-last-blog__container-left-icon-link{
    color: #adb5db;
}
.next-last-blog__container-right-link {
    margin-right: 1rem;
    text-align: center;
    font-size: 1.1rem;
    color: #464749;
    line-height: 1.5rem;
}
.next-last-blog__container-left-link{
    margin-left: 1rem;
    text-align: center;
    font-size: 1.1rem;
    color: #464749;
    line-height: 1.5rem;
}
.next-last-blog__container-left{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    position: relative;
   
}
.next-last-blog__container-left::before{
    content: 'جدیدتر';
    position: absolute;
    right: 0;
    top: -1.1rem;
    color:#adb5db ;
}
.next-last-blog__container-right::before{
    content: 'قدیمی تر';
    position: absolute;
    left: 0;
    top: -1rem;
    color:#adb5db ;
    transform: rotate(180deg);
    font-size: 1.1rem;
    font-weight: bold;
}
.comment{
    display: flex;
    flex-direction: column;
    margin-top: 2.2rem;
}
.comment-title{
    font-size: 0.8rem;
    color: #464749;
}
.comment-subtitle{
    margin: 1.2rem 0;
    color: #464749;
}
.comment-text{
    color: #6c757d;
}
.comment-textarea{
  height: 12rem;
  margin-top: 0.5rem;
  border: 1px solid #dcdcdc;
  border-radius: 0.3rem;
  box-shadow: 0 0 5px rgba(169, 169, 169, 0.354);
}
.comment-btn{
    max-width: 10rem;
    margin-top: 1rem;
    padding: 0.8rem 1.3rem;
    border: none;
    border-radius: 5px;
    background-color: var(--theme-color);
    font-size: 0.95rem;
    color: var(--white-color);
}




/* start helper style */
.paragraph{
    line-height: 2rem;
    color: #7d7e7e;
}
/* finish helper style */