/* start footer style */
.footer{
    padding: 2rem 5rem;
}

.footer__container{
    background-color: #f0f2f7;
    padding: 2rem 2rem;
    border-radius: 1rem;
    position: relative;
}
.footer__container::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1rem;
    height: 3rem;
    z-index: -1;
    width: 30rem;
    background-color: var(--theme-color);
    border-radius: 1rem;
    margin: 0 auto;

}

.footer__container-title{
    font-size: 1.1rem;
    font-weight: bold;
    position: relative;
}
.footer__container-title::before{
    content: "";
    position: absolute;
    width: 2.8rem;
    height: 2.8rem;
    right: 0;
    top: 0;
    background-color: var(--theme-color);
    opacity: 0.3;
    border-radius: 0.7rem;
    transform: rotate(45deg);
}
.footer__container-text ,.footer__container-links{
    margin-top: 1.3rem;
    color: #7d7e7f;
    line-height: 1.8rem;
}
.footer-question-links{
    display: flex;
    flex-direction: column;
}
.footer__container-link ,.footer__container-box-row-link{
    
    color: #7d7e7f;
}
.footer-copyright{
    margin-top: 2rem;
    /* width: 40rem; */
    /* width: 100%; */
    padding: 2rem 7rem;
    background-color:#f0f2f7;
}
.footer-copyright-text{
    display: flex;
    justify-content: center;
    font-weight: bold;
}
/* finish footer style */
