@import './variable.css';
@import './fonts.css';
@import './top-bar.css';
@import './navbar.css';
@import './footer.css';
@import './course-box.css';
@import './default.css';
@import './helper.css';




/* start landing style  */

.landing__container{
    background: linear-gradient(rgba(0, 0, 0, 0.55),rgba(0, 0, 0, 0.646)), url(../images/background_landing.jfif)
    ;
    background-attachment: fixed;
    background-size: cover;
    padding: 4.2rem 0;
    text-align: center;
}
.landing__container-title{
    font-size: 2.4rem;
    color: var(--white-color);
    font-weight: bold;
    margin-bottom: 1rem;
    font-family: var(--primary-font);
}
.landing__container-subtitle{
    
    font-size: 1.2rem;
    color: var(--white-color);
    font-weight: bold;
    font-family: var(--primary-font);
}
.landing__searchbar{
    width: 100%;
}
.landing__searchbar{
    width: 700px;
    position: relative;
    margin: 3.4rem auto;
}
.landing__searchbar-input{
   
    width: 100%;
    padding: 1.5rem;
    border: none;
    border-radius: 10px;  
    outline: none;
}
.landing__searchbar-link{
    position: absolute;
    left: 0.3rem;
    top: 0.3rem;
    background-color: var(--theme-color);
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.landing__searchbar-icon{
    color: var(--white-color);
    font-size: 1.5rem;

}
.landing__container-story{
    display: flex;
    justify-content: space-evenly;
}
.landing__container-story-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
}
.landing__container-story-item  svg{
    fill: var(--white-color);
}
.landing__container-story-count{
    margin: 1rem;
    font-size: 2rem;
    font-weight: bold;
}
.landing__container-story-text{

    font-weight: bold;
}
/* finish landing style  */

/* start courses style */
.courses{
    padding: 5rem;
}
.courses__container-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.courses__container-title-right{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
.courses__container-subject{
    font-size: 1.5rem;
    font-weight: bold;
}
.courses__container-text{
    color: #99a0a7;
}
.courses__container-title-left{
    height: 2.1rem;
}
.courses__link{
    background-color: var(--theme-color);
    padding: 0.5rem 1rem;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    gap: 0.4rem;
    font-size: 1.1rem;
}
.courses__link:hover{
    color: var(--white-color);
}


/* finish courses style */

/* start about-us style */
.about-us{
    padding: 5rem;
}
.about-us__header{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.about-us__header-text{
    font-size: 1.1rem;
    color: #9c9c9c;
}
.about-us__content-box{
    background-color: var(--white-color);
    margin: 2rem 0;
    box-shadow: 0 0 19px rgb(168 172 185 / 30%);
    padding: 1.5rem 1.5rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 0.5rem;
}
.about-us__content-box-icon{
    font-size: 4.1rem;
    color: #666;
}
.about-us__content-container-box-title{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
.about-us__content-box-title{
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0.8rem ;
}
/* finish about-us style */

/* start favorite-courses style */
.favorite-courses{
    padding: 2rem 5rem;
}
.favorite-courses__slider{
    margin: 1.5rem 0;
}

.favorite-courses__slider .courses__box:hover{
    transform: none;
}
/* finish favorite-courses style */

/* start pre-sell-courses style */
.pre-sell-courses{
    padding: 5rem;
}
.pre-sell-courses__slider{
    margin: 1.5rem 0;
}
.pre-sell-courses__slider .courses__box:hover{
    transform: none;
}
/* finish pre-sell-courses style */

/* start blog style */
.blog{
    padding:0 5rem ;
}
.blog__container-content{
    margin: 2rem 0;
}
.blog__container-content-box{
    box-shadow: 0 0 10px #0000001a;
    transition: all 400ms ease;
}
.blog__container-content-box:hover{
    transform: translateY(-0.4rem);   
}
.blog__container-content-image{
    width: 100%;
}
.blog__container-content-titleBox{
    padding: 1.4rem 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.blog__container-content-link{
    font-size: 1.1rem;
    font-weight: bold;
}
.blog__container-content-text{
    font-size: 0.9rem;
    /* margin-top: 1rem; */
    color: #898989;
}
.blog__container-content-btn{
    width: 7rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--theme-color);
    padding-bottom: 0.2rem ;
    border: 2px solid var(--theme-color);
    border-radius: 7px;
    transition: all 400ms ease;
}
.blog__container-content-btn:hover{
    background-color: var(--theme-color);
    color: var(--white-color);
}
/* finish blog style */





